@charset "UTF-8";
body{
	background-color: black;
	
}
.whole-box{
	background-color:white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height:100%;
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.td1{
	background-color: aqua;
	width: 100px;
	border-radius: 3pt;
}
.td2{
	text-align: left;
	font-weight: bolder;
}

#img{
	width: 500px;
	height: 500px;
}